.adventure-panel-background {
	background-color: #5da7ae;
	background-image: url(/client/apps/boringrpg/assets/imgs/adventures/fieldsofgold.jpg);
	background-position: bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.adventure-panel-stats-background {
	background: rgba(84, 61, 70, 0.5);
}
.adventure-panel-stats {
	padding: 2px;
}
/** We'll use a hack to display dot leaders
 * http://www.w3.org/Style/Examples/007/leaders.en.html
 */
.adventure-panel-stats-column {
	overflow-x: hidden; /* part of the dot leaders hack */
}
.adventure-panel-stats-column:nth-child(odd) {
	padding: 0px 10px 0px 20px;
}
.adventure-panel-stats-column:nth-child(even) {
	padding: 0px 20px 0px 10px;
	direction: rtl; /* hack for using the dot leaders in mirror */
}
.adventure-panel-stats ul {
	padding: 0;
}
.adventure-panel-stats li {
	list-style-type: none;
	white-space: nowrap; /* part of the dot leaders hack */
}
.adventure-panel-stats li span{
	padding-right: 3px; /* clean space with the dot leaders */
}

.adventure-panel-stats-column:nth-child(odd) li:after {
	white-space: nowrap;
	font-family: "Times New Roman";
	font-size: 8px;
	content: ". . . . . . . . . . . . . . . "
}
.adventure-panel-stats-column:nth-child(even) li:after {
	white-space: nowrap;
	overflow: hidden;
	font-family: "Times New Roman";
	font-size: 8px;
	content: ". . . . . . . . . . . . . . . "
}


.adventure-panel-dialog {
	padding: 3px 7px;
	color: #292830;
	border: solid 3px #292830;
	text-rendering: optimizeLegibility;
	font-size: 15px;
	line-height: 19px;
}
.adventure-panel-dialog-good-click {
	background: rgba(255, 235, 188, 0.33);
}
.adventure-panel-dialog-bad-click {
	background: #f2676a;
}

.adventure-panel-button {
	border: solid 3px #ffebbc;
	background: #543d46;
	text-align: center;
}

.adventure-panel-button-label {
	margin-top: 15px;
	line-height: 15px;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

.adventure-panel-button-timer {
	line-height: 12px;
	font-size: 12px;
}
