<div>

	<fa-modifier fa-translate="[0,0,1.001]">
		<fa-surface class="meta-background"></fa-surface>
	</fa-modifier>

	<fa-modifier fa-translate="[0,0,2.002]">
		<fa-header-footer-layout fa-options="{headerSize: 60, footerSize: 0}">

			<!-- header -->
			<fa-view>
				<meta-header></meta-header>
			</fa-view>

			<!-- content -->
			<fa-view>
				<meta-content></meta-content>
			</fa-view>

			<!-- footer -->
			<fa-view>
				<meta-footer></meta-footer>
			</fa-view>

		</fa-header-footer-layout>
	</fa-modifier>

</div>

