.app-header-background {
	background: #292830;
}

.app-header {
	line-height: 60px;
	background: #292830;
}

.app-header-left {
	text-align: center;
	font-size: 47px;
}

.app-header-center {
	text-align: center;
	font-size: 20px;
}

.app-header-right {
	text-align: right;
	padding-right: 13px;
	font-size: 34px;
}
