.achievements-panel-background {
	background-color: #543d46;
	background-image: url(/client/apps/boringrpg/assets/imgs/achievements_bg.jpg);
	background-position: top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.achievements-panel-foreground {
	text-align: center;
	line-height: 300px;
}
