@import '/client/common/common.css';

#root {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.panel {
	text-align: center;
	font-size: 20px;
}
.panel.header {
	line-height: 75px;
	border-bottom: solid 1px gray;
}
.panel.content {
	padding: 10px;
}
.panel.footer {
	border-top: solid 1px gray;
	line-height: 50px;
}

.choice {
	font-size: 33px;
	line-height: 150px;
	text-align: center;
	border-right: solid 1px gray;
}
