.chat-panel-background {
	xbackground: #5da7ae;
	background: url(../../../../../../assets/imgs/chat_bg.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.chat-panel-foreground {
	text-align: center;
	line-height: 300px;
	color: #292830;
}
