.social-panel-background {
	background-color: #543d46;
	background-image: url(/client/apps/boringrpg/assets/imgs/social_bg.jpg);
	background-position: bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.social-panel-foreground {
	text-align: center;
	line-height: 300px;
}
