.social-panel-background {
	xbackground: #543d46;
	background: url(/client/apps/boringrpg/assets/imgs/social_bg.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.social-panel-foreground {
	text-align: center;
	line-height: 300px;
}
