@import '/client/common/common.css';

XXX not used for now, to rework XXX

/* global and bootstrap adjustments */
body {
	background-color: black !important;
	color: deepskyblue !important;
	font-family: 'RobotoRegular' !important;
}

div#content {
	padding: 10px;
}
