@import '../common.css';

/* global and bootstrap adjustments */
body {
	background-color: black !important;
	color: deepskyblue !important;
	font-family: 'RobotoRegular' !important;
}

div#content {
	padding: 10px;
}
