.knowledge-panel-background {
	background-color: #5da7ae;
	background-image: url(/client/apps/boringrpg/assets/imgs/knowledge_bg.jpg);
	background-position: top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.knowledge-panel-foreground {
	color: #292830;
	text-align: center;
	line-height: 300px;
}

.knowledge-panel-controls-background {
	background: rgba(84, 61, 70, 0.5);
}

.knowledge-panel-controls {

}


.knowledge-panel-book {
	color: #543d46;
	border: solid 3px #543d46;
	background: rgba(255, 235, 188, 0.5);
	overflow: hidden;
}
