.inventory-panel-background {
	background-color: #5da7ae;
	xxcolor: #ffebbc;
	background-image: url(/client/apps/boringrpg/assets/imgs/inventory_bg.jpg);
	background-position: bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.inventory-panel-inventory {
	color: #ffebbc;
	border: solid 3px #ffebbc;
	background: rgba(84, 61, 70, 0.7);
	overflow: hidden;
}

/* http://wowwiki.wikia.com/wiki/API_GetItemQualityColor
 * http://rgb.to/hex/ffaa4d
 */
.inventory-panel-inventory .quality_common,
.inventory-panel-controls  .quality_common    { color: #a6a6a6; }
.inventory-panel-inventory .quality_uncommon,
.inventory-panel-controls  .quality_uncommon  { color: #a3ff4d; }
.inventory-panel-inventory .quality_rare,
.inventory-panel-controls  .quality_rare      { color: #4da3ff; }
.inventory-panel-inventory .quality_epic,
.inventory-panel-controls  .quality_epic      { color: #bb7bff; }
.inventory-panel-inventory .quality_legendary,
.inventory-panel-controls  .quality_legendary { color: #ffa34d; }


.inventory-panel-inventory-entry {
	overflow-y: hidden;
	padding: 3px;
}

.inventory-panel-inventory-entry-selected {
	background: #ffebbc;
	color: #543d46;
}
.inventory-panel-inventory-entry-selected .quality_common    { color: #505050; }
.inventory-panel-inventory-entry-selected .quality_uncommon  { color: #4f882c; }
.inventory-panel-inventory-entry-selected .quality_rare      { color: #0080ff; }
.inventory-panel-inventory-entry-selected .quality_epic      { color: #8000ff; }
.inventory-panel-inventory-entry-selected .quality_legendary { color: #ff8000; }

.inventory-panel-controls-background {
	background: rgba(84, 61, 70, 0.5);
}

.inventory-panel-controls {
	padding: 0;
}

.inventory-panel-controls .container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0;
}

.inventory-panel-controls .container > ul {
	list-style-type: none;
	display: block;
	padding: 0;
}
.inventory-panel-controls .container > ul.details {
	padding: 10px;
}
.inventory-panel-controls .container > ul.controls {
	text-align: center;
}
.inventory-panel-controls .container > ul.controls li:nth-child(1) {
	margin: 0 0 -2px 0;
}
.inventory-panel-controls .container > ul.controls li:nth-child(n+2) {
	margin: 2px 0;
	padding: 2px 0;
	border: solid 1px;
}
.inventory-panel-controls .container .enhancement_viz {
	letter-spacing: -2px;
	font-size: 10px;
	line-height: 14px;
}

.inventory-panel-controls-icon {
	line-height: 60px;
	font-size: 60px;
}
