.meta-content {
	background: #292830;
	font-family: Helvetica Neue, Helvetica, Arial, 'sans-serif';
}

.meta-content-container {
	display: flex;
	flex-wrap: wrap;

	list-style-type: none;
	padding: 0;
}

.meta-content-item {
	width: 80px;
	height: 92px;
	text-align: center;
}
.meta-content-item span:first-child {
	font-size: 40px;
	line-height: 58px;
}
.meta-content-item p {
	margin: 0px;
	font-size: 12px;
	line-height: 14px; /* tighter */
}
.meta-content-item-disabled {
	color: #543d46;
	cursor: default;
}

.meta-content-version {
	text-align: center;
	margin-top: -12px;
}
