.app-footer-background {
	background: #292830;
}

.app-footer-element {
	text-align: center;
	font-size: 47px;
	line-height: 60px;
	background: #292830;
}

.app-footer-element.selected {
	background: #292830;
	border-bottom: solid 4px #543d46;
}

.app-footer-element.disabled {
	color: #543d46;
	cursor: default;
}
