<div>

	<fa-modifier fa-translate="[0,0,20]">

	<!-- this surface which take all the space
	     helps fill the small leaks which sometime happen between flexible layout elements -->
	<fa-modifier fa-translate="[0,0,1.001]">
		<fa-surface class="app-footer-background"></fa-surface>
	</fa-modifier>

	<fa-modifier fa-translate="[0,0,2.002]">
		<fa-flexible-layout fa-options="flexible_layout_options">

			<fa-surface ng-repeat="panel in panels"
				class="app-footer-element clickable-area"
				ng-class="{'selected': active_panel === panel.id, 'disabled': panel.disabled}"
				ng-click="go_to(panel.id)">
				<span ng-class="panel.icon"></span>
			</fa-surface>

		</fa-flexible-layout>
	</fa-modifier>
	</fa-modifier>
</div>
