
/* http://docs.angularjs.org/api/ng.directive:ngCloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

#content {
	background-color: #e8faff;
	color: #101112;
	position:absolute;
	/* vertical centering technique http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
	height: 100%;
	width: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	/* http://frontendhq.com/css/text-shadow */
}
