@import '/client/common/common.css';

@font-face {
	font-family: 'PixAntiqua';
	src:url('assets/PixAntiqua.ttf') format('truetype');
}

body, body.famous-root {
	background: #292830;
	color: #ffebbc;
	font-family: 'PixAntiqua';
}

#root {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: black; /* will never be seen except when animating */
}


/* xxxxx */
/*
.panel {
	text-align: center;
	font-size: 20px;
}
.panel.header {
	border-radius: 0px;
	background: #292830;
	line-height: 60px;
}
.panel.content {
	border-radius: 0px;
	background: #5da7ae;
	padding: 10px;
}
.panel.footer {
	border-radius: 0px;
	background: #292830;
	line-height: 60px;
}
*/
