@import '/client/common/common.css';

@font-face {
	font-family: 'PixAntiqua';
	src:url('/client/apps/boringrpg/assets/PixAntiqua.ttf') format('truetype');
}

body, body.famous-root {
	background: #292830;
	color: #ffebbc;
	font-family: 'PixAntiqua';
}

#root {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: black; /* will never be seen except when animating */
}


/** famous debugging
.famous-surface {
	border: solid 1px red;
}
*/
