#xxxcontent {
	background-color: #e8faff;
	color: #101112;
	position:absolute;
	/* vertical centering technique http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
	height: 100%;
	width: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	/* http://frontendhq.com/css/text-shadow */
}

#root {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.panel {
	text-align: center;
	font-size: 20px;
}
.panel.header {
	line-height: 75px;
	border-bottom: solid 1px gray;
}
.panel.content {
	padding: 10px;
}
.content > .xmessenger {
//display: block;
}
.panel.footer {
	border-top: solid 1px gray;
	line-height: 50px;
}
